{% extends "base.html" %}

{% block content %}

  <div class="row">
    <div class="small-12 columns text-center">
      <h2>
        Welcome to SC2 LiveScores
      </h2>
    </div>
  </div>
  
  <div class="row">
    <div class="small-2 columns spacer"></div>
    <div class="small-8 columns text-center">
      This site aims to provide live scoring for SC2 games.  It does that by trying
      to read the state of the game from the stream.  Currently the supported streams are:
    </div>
    <div class="small-2 columns spacer"></div>
  </div>
  
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  
  <div class="row">
    <div class="small-12 columns text-center">
      WCS, BasetradeTV, and Dreamhack
    </div>
  </div>
  
  <div class="row">
    <div class="small-12 columns text-center">
      (I'm trying to get GSL and Proleague, but they are hard to parse)
    </div>
  </div>
  
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  
  <div class="row">
    <div class="small-12 columns text-center">
      None of the currently supported streams are up. Please come back when they are.
    </div>
  </div>
  
{% endblock %}
