{% extends "base.html" %}
{% load tz %}

{% block title %}SC2 Live Scores: {{ stream_obj.name}} {% endblock %}

{% block content %}
<div class="row">
    <div class="small-12 text-center">
        <h5>
            {{ stream_obj.name }}
        </h5>
    </div>
</div>

{% if not game.game_on %}
    <div class="row">
        <div class="small-12 text-center">
            This was the last state of the game, there isn't one on now. </br>
            Last game was at: {{ game.game_off_time|timezone:"America/Los_Angeles" }} PDT
        </div>
    </div>
    <div class="row">
        <div class="small-12 text-center spacer">
        </div>
    </div>
{% endif %}

{%for obj in row_objs %}
    <div class="row">
        <div class="small-4 columns text-right">
            {{ obj.player_1 }}
        </div>
        <div class="small-4 columns text-center">
            {{ obj.name }}
        </div>
        <div class="small-4 columns text-left">
            {{ obj.player_2 }}
        </div>
    </div>
    <div class="row">
        <div class="small-12 text-center spacer">
        </div>
    </div>
{% endfor %}

<div class="row">
    <div class="small-3 small-centered text-center columns">
        Time: {{ game.current_time }}
    </div>
    <div class="row">
        <div class="small-12 text-center spacer">
        </div>
    </div>
</div>

<div class="row">
    <div class="small-3 small-centered text-center columns">
        Map: {{ game.on_map }}
    </div>
    <div class="row">
        <div class="small-12 text-center spacer">
        </div>
    </div>
</div>

{% if bracket %}
    <div class="row">
        <div class="small-3 small-centered text-center columns">
            <a href={{ bracket.url }}>Bracket</a>
        </div>
    </div>
    <div class="row">
        <div class="small-12 text-center spacer">
        </div>
    </div>
{% endif %}


{% for stream in streams %}
    {% if stream.name != stream_obj.name %}
        <div class="row">
            <div class="small-12 small-centered text-center columns">
                <a class="button" href="/{{ stream.url }}">{{stream.name}}</a>
            </div>
        </div>
    {% endif %}
{% endfor %}

{% endblock %}